<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
    		<h1>Welcome to the Face Recognition App</h1>
    	</header>
    <h2>Choose an option:</h2>
    <ul>
        <li><a href="{{ url_for('show_data') }}">Check Existing Data</a></li>
        <li><a href="{{ url_for('enroll') }}">Enroll New Data</a></li>
        <li><a href="{{ url_for('absensi_index') }}">Capture and Validate</a></li>
    </ul>
</body>
</html>
